<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/_static/main.css" type="text/css">
    <link rel="shortcut icon" href="/_static/favicon.ico">
    <title>{{ title|striptags|e }} - Akshell</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13048245-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      var clicky_site_id = 204510;
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <a href="/">
        <img class="logo" src="/_static/logo.png" alt="Akshell">
      </a>
      <div class="content">
        <div class="breadcrumbs">
          <a href="/">Akshell</a> ▸
          {% if pagename == 'index' %}
            {{ theme_index_title }}
          {% else %}
            {% if theme_index_title %}
              <a href="{{ pathto('index') }}">{{ theme_index_title }}</a> ▸
            {% endif %}
            {% for parent in parents %}
              <a href="{{ parent.link|e }}">{{ parent.title }}</a> ▸
            {% endfor %}
            {{ title }}
          {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% if prev %}
          <div class="prev">
            « <a href="{{ prev.link|e }}">{{ prev.title }}</a>
          </div>
        {% endif %}
        {% if next %}
          <div class="next">
            <a href="{{ next.link|e }}">{{ next.title }}</a> »
          </div>
        {% endif %}
      </div>
      {% if theme_sidebar|tobool %}
        <div class="sidebar">
          {% if prev %}
            <a href="{{ prev.link|e }}">Previous</a>&nbsp;
          {% endif %}
          {% if next %}
            <a href="{{ next.link|e }}">Next</a>&nbsp;
          {% endif %}
          <a href="{{ pathto('contents') }}">TOC</a>&nbsp;
          <a href="{{ pathto('genindex') }}">Index</a>&nbsp;
          {% if toc is defined and toc.count('<li>') > 2 %}
            <h3>Contents</h3>
            {{ toc[toc.find('<ul>', 4):-13] }}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="footer">
      <a href="http://feedback.akshell.com/">Feedback</a>&nbsp;
      <a href="http://blog.akshell.com/">Blog</a>&nbsp;
      <a href="http://twitter.com/akshell_com">Twitter</a>&nbsp;
      <a href="http://www.facebook.com/akshell">Facebook</a>&nbsp;
      <a href="https://github.com/akshell">GitHub</a>&nbsp;
      <a href="http://groups.google.com/group/akshell">Mailing List</a>&nbsp;
      <a href="https://chrome.google.com/webstore/detail/igajdgcflbbkkjamijjpjadkcncjloog">Web Store</a>&nbsp;
      <a href="http://www.linode.com/?r=49290d58b3c7b2bd4235478187d38ce7666f17cd">Hosting</a>&nbsp;
      <a href="/terms/">Terms of Service</a>&nbsp;
      <a href="/privacy/">Privacy Policy</a>&nbsp;
      &copy; 2011 Akshell
    </div>
  </body>
</html>
